.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-icon {
  height: 1.2rem;
  /* fill: var(--primary-color-light); */
}

.cart-items-count {
  font-weight: bold;
  position: relative;
  top: 2px;
}
