.search-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid currentColor;
  border-radius: 10px;
  padding: 0 8px;
  height: 2rem;
  box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
}

.search-input {
  outline: none;
  border: none;
  font-size: 1rem;
  width: 100%;
}

.search-icon {
  height: 1rem;
  /* fill: var(--primary-color-light); */
}

@media screen and (min-width: 600px) {
  .search-input {
    width: 30vw;
    max-width: 32rem;
  }
}
